body {
	background-color: #08088A;
	color: white;
	font-family: helvetica;
}

.header {text-align: center; 
		font-size: 60px;
		font-family: helvetica;
		padding: 75px;
		}

.place {text-align: center;
		font-size: 15px;
		font-family: helvetica;
		padding: 20px;
	}

.place-footer {text-align: center;
		font-size: 15px;
		font-family: helvetica;
		padding: 20px;
		}



.paragraph1 {
	font-size: 30px;
	padding color: transparent;
	padding: 40px;
	margin: 20px;
	margin-right: 40px;
	margin-left: 40px;
}

.paragraph2 {
	font-size: 30px;
	padding color: transparent;
	padding: 40px;
	margin: 20px;
	margin-right: 40px;
	margin-left: 40px;
	
}
.paragraph3 {
	font-size: 30px;
	padding color: transparent;
	padding: 40px;
	margin: 20px;
	margin-right: 40px;
	margin-left: 40px;

}

a:link {
    color: white;
    transition: opacity 5s linear;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    
}

/* selected link */
a:active {
    color: white;
}

a.faded {
opacity: 0;
}  

